:root {
    font-family: sans-serif;
    letter-spacing: 0.02em;
}
button {
    cursor: pointer;
    display: block;
    border: none;
}
.ReactModal__Overlay--before-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}